.TC-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 64px 0;
  margin-left: 10%; /* setting box in cente */
  width: 80%;
  min-height: 750px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
}

.try-again-cont {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
